body {
  font-family: Menlo, Consolas, monospace;
  color: #444;
}

ul {
  position: relative;
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
}

ul li:before {
  content: "+";
  position: absolute;
  left: 0;
}

.minus ul li:before {
  content: "-";
  position: absolute;
  left: 0;
}
